* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #C4C4C4;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: inherit;
}

.chat-page {
    display: flex;
    height: 100%;
}

.chat-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.chat-list__dialogs {
    height: 100%;
    padding: .5em;
}

.chat-list__groups {
    height: 100%;
    padding: 2em;
}

.content {
    width: 300%;
}

.side-menu {
    width: 100%;
    padding: 1em;
}

.side-menu__list {
    list-style: none;
}

.side-menu__list__item {
    margin-bottom: .5em;
}

.side-menu__list__item:hover {
    cursor: pointer;
    text-decoration: underline;
}

input {
    padding: .5em;
    border-radius: .5em;
    border: 1px solid #C4C4C4;
}

input:hover {
    cursor: pointer;
    border: 1px solid #000;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.form__row {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.form__row > label, .form__row > label {
    width: 30%;
    cursor: pointer;
}

.form__row > input, .form__row > input {
    width: 70%;
}

.form__row__avatar {
    display: flex;
    flex-direction: column;
}

.form__row__avatar__del {
    display: flex;
    flex-direction: row;
    gap:1em;
}

.form__row__checkbox {
    width: auto !important;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.messages {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.message {
    border-radius: 5px;
    padding: 1em;
    background-color: whitesmoke;
    width: 50%;
    margin: .1em;
}

.message--own {
    background-color: #bdd7c1;
    align-self: end;
}

.message__footer {
    font-size: .9em;
    color: #7a7a7a;
    margin-top: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-chat {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0 .5em;
}

.form-chat >input[type="text"] {
    width: 100%;
    border: none;
    border-radius: 0;
}

.form-chat > input[type="submit"] {
    background-color: transparent;
    background-image: url('/app/assets/img/sendMsg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 3em;
    height: 3em;
}

.form-chat > input[type="submit"]::before {
    content: '';
}

.popup {
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup__content {
    background-color: white;
    padding: 1em;
    border-radius: .5em;
}

.popup__content__users__list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.popup__close {
    float: right;
}

.add-user {
    border-radius: 5px;
    background-color: aqua;
}

.remove-user {
    border-radius: 5px;
    background-color: tomato;
    display: none;
}

.message-menu {
    display: none;
    background-color: whitesmoke;
    position: absolute;
    border: 1px solid #5f5f5f;
}

.message-menu > ul > li {
    padding: .5em;
    cursor: pointer;
    list-style: none;
}

.message-menu > ul > li:hover {
    background-color: #c9c9c9;
}
