* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #C4C4C4;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: inherit;
}

.main-content {
    padding: 1em;
}

.notFound {
    margin: auto;
    text-align: center;
}

.contacts__list {
    list-style: none;
}

.contacts__list__item {
    padding: .5em;
}

.chat-page {
    display: flex;
    height: 100%;
}

.chat-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.chat-list__dialogs {
    height: 100%;
    padding: .5em;
    overflow: auto;
}

.chat-list__groups {
    height: 100%;
    padding: 2em;
    overflow: auto;
}
.chat-list__groups > ul {
    list-style: none;
}

.chat-list__item {
    color: #000;
    padding: .5em;
    border-radius: .2em;
    margin-bottom: .5em;
    overflow-x: auto;
}

.chat-list__dialogs__item {
    background-color: rgba(196, 196, 219, .5);
    border: .5px solid cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.chat-list__dialogs__item > div {
    display: flex;
    align-items: center;
}

.chat-list__dialogs__item > div:nth-child(1) {
    gap: .5em;
}

.chat-list__groups__item {
    background-color: rgba(203, 219, 196, 0.5);
    border: .5px solid rgb(62, 124, 51);
    display: flex;
    justify-content: space-between;
}

.chat-menu-sound {
    display: none;
    background-color: whitesmoke;
    position: absolute;
    border: 1px solid #5f5f5f;
}

.chat-menu-sound > p {
    padding: .5em;
    cursor: pointer;
}
.chat-menu-sound > p:hover {
    background-color: rgba(167, 177, 195, 0.425);
}

.content {
    width: 300%;
    overflow: auto;
}

.side-menu {
    width: 100%;
    padding: 1em;
    overflow: auto;
}

.side-menu__list {
    list-style: none;
}

.side-menu__list__item {
    margin-bottom: .5em;
}

.side-menu__list__item:hover {
    cursor: pointer;
    text-decoration: underline;
}

input {
    padding: .5em;
    border-radius: .5em;
    border: 1px solid #C4C4C4;
}

input:hover {
    cursor: pointer;
    border: 1px solid #000;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.form__row {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.form__row > label, .form__row > label {
    width: 30%;
    cursor: pointer;
}

.form__row > input, .form__row > input {
    width: 70%;
}

.form__row__avatar {
    display: flex;
    flex-direction: column;
}

.form__row__avatar__del {
    display: flex;
    flex-direction: row;
    gap:1em;
}

.form__row__checkbox {
    width: auto !important;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.messages {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.message {
    border-radius: 5px;
    padding: 1em;
    background-color: whitesmoke;
    width: 50%;
    margin: .1em;
}

.message__forwarded {
    font-size: .8em;
}

.message--own {
    background-color: #bdd7c1;
    align-self: end;
}

.message__footer {
    font-size: .7em;
    color: #7a7a7a;
    margin-top: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-chat {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0 .5em;
}

.form-chat >input[type="text"] {
    width: 100%;
    border: none;
    border-radius: 0;
}

.form-chat > input[type="submit"] {
    background-color: transparent;
    background-image: url('/app/assets/img/sendMsg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 3em;
    height: 3em;
}

.form-chat > input[type="submit"]:disabled {
    opacity: .5;
}

.form-chat > input[type="submit"]::before {
    content: '';
}

.modal {
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
}

.modal__content {
    background-color: white;
    padding: 1em;
    border-radius: .5em;
}

.search-own-contacts__list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.modal-close {
    float: right;
}

.add-user {
    border-radius: 5px;
    background-color: aqua;
}

.remove-user {
    border-radius: 5px;
    background-color: tomato;
    display: none;
}

.message-menu {
    display: none;
    background-color: whitesmoke;
    position: absolute;
    border: 1px solid #5f5f5f;
}

.message-menu > ul > li {
    padding: .5em;
    cursor: pointer;
    list-style: none;
}

.message-menu > ul > li:hover {
    background-color: #c9c9c9;
}

.settings-change-msg-sound {
    margin: 2em 1em;
    padding: .5em;
}
